table{
  border: 1px solid black;
  border-spacing: 50px;
  margin-left:30%;;
  text-align: left;
  padding-top: 15px;
  height:100%;
  width: 25%;
}
body{
  background-color: powderblue;
  font-style: italic;
  color: black;
}
.button
{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
