table,tr,td{
  border: 1px solid black;
  padding: 5%;
  color: blue;
  background-color: #ffccff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}
button
{
  background-color: inherit;
  border-radius: 6px;
}
body
{
  background-color: #ffcc99;
}
